*{
    margin: 0;
    padding: 0;
}
html{
   background-image: url(backgroundImage/360_F_576134756_LrvK6yUEzhCbPHk6N6CU16MciSciNvex.webp);
   background-repeat: no-repeat;
   background-size: 100%;
}
.key{
    width: 60px;
    height: 60px;
    margin: 1rem;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(132, 33, 42);
    border-radius: 7px;
    color: aliceblue;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    text-align: center;
    text-shadow: 4px 5px 0.2rem red;
    transition: transform 0.07s ease;
}
.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex: 1;
}



  .playing {
    transform: scale(1.1);
    border-color: #bb3e3e;
    box-shadow: 0 0 1rem #bb3e3e;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #bb3e3e;
  }